.dropdown-menu {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  border: 0.125rem solid var(--primary-primary-300, #56b684);
  background: var(--white, #fff);
  box-shadow: 0rem 0.25rem 1.5rem 0rem rgba(0, 0, 0, 0.2);
  top: 75px;
  left: 0px;
  z-index: 6;
  width: 589px;
}
.drop-cont {
  display: inline-flex;
  padding: 56px 96px 56px 56px;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}
.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  text-decoration: none;
}
.navlink img {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.navlink div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.navlink div span {
  color: var(--neutral-neutral-500, #1f2024);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.navlink div p {
  color: var(--neutral-neutral-300, #696a6c);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Mobile Responsiveness */

@media screen and (max-width: 500px) {
  .dropdown-menu {
    position: unset;
    display: flex;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: #029247;
    border: #029247;
    box-shadow: none;
  }
  .drop-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 0px 0px 0px 0px;
  }
  .navlink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 16px;
  }
  .navlink img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .navlink div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
  .navlink div span {
    color: var(--white, #fff);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .navlink div p {
    color: var(--neutral-neutral-25, #f6f6f6);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
