.dropdown-menu {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  border: 2px solid var(--primary-primary-300, #56b684);
  background: var(--white, #fff);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
  top: 100px;
  left: 560px;
}
.drop-cont {
  display: inline-flex;
  padding: 56px 96px 56px 56px;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}
.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  text-decoration: none;
}
.navlink img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.navlink div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.navlink div span {
  color: var(--neutral-neutral-500, #1f2024);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.navlink div p {
  color: var(--neutral-neutral-300, #696a6c);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
