.services {
  width: 87%;
  display: flex;
  margin: 0px auto;
  padding-top: 210px;
  justify-items: flex-end;
  align-items: center;
}
.service-cont {
  width: 99%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.service-text {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  flex-direction: column;
}
.service-text h1 {
  color: var(--primary-primary-500-main, #029247);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 16px 48px;
  background: var(--success-success-50, #f2fcf5);
  border-radius: 100px;
}
.service-text p {
  color: var(--neutral-neutral-500, #1f2024);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}
.grid-1 {
  display: flex;
  flex-direction: row;
  gap: 65px;
}

.grid-2 {
  display: flex;
  flex-direction: row;
  gap: 65px;
}
.grid-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 24px;
  background: var(--success-success-50, #f2fcf5);
  justify-content: flex-start;
  padding: 40px 32px;
  height: 336px;
  width: 33.3%;
}
.cont-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cont-text span {
  color: var(--neutral-neutral-600, #1c1d21);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 167%; /* 53.44px */
}
.cont-text p {
  width: 389px;
  color: var(--neutral-neutral-400, #4c4d50);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 167%; /* 33.4px */
}
