.hero {
  width: 97%;
  padding-top: 8.75rem;
  margin: 0rem auto;
  display: flex;
  justify-content: flex-end;
  background-image: url("../../assets/map.png");
}

.hero-wrapper {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text-cont {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  flex-direction: column;
}

.hero-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.hero-text h1 {
  color: #029247;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.5rem;
  letter-spacing: 0.2025rem;
}

.hero-text p {
  color: #7e7e7e;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-license,
.license,
.ndic {
  display: flex;
  align-items: center;
}

.hero-license {
  gap: 4rem;
}

.license,
.ndic {
  gap: 0.75rem;
}

.license p,
.ndic p {
  color: #7c7575;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.buttons .button {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 6.25rem;
  background: var(--neutral-neutral-900, #0d0d0f);
}

.button p {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button span {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.hero-img-cont {
  position: relative;
}

.hero-img-cont .woman {
  z-index: 1;
  position: relative;
}

.hero-img-cont .coins {
  position: absolute;
  left: -11.25rem;
  top: 11.25rem;
}

.hero-img-cont .component-one {
  position: absolute;
  top: 16.875rem;
  left: -17.5rem;
  z-index: 2;
}

.hero-img-cont .component-two {
  position: absolute;
  top: 26.875rem;
  left: -20.625rem;
}

.hero-img-cont .component-three {
  position: absolute;
  top: 33.125rem;
  left: -16.875rem;
  z-index: 2;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .hero {
    padding-top: 40px;
    width: 100%;
  }
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
  }
  .hero-text-cont {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .hero-text-cont .hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .hero-text-cont .hero-text h1 {
    color: #029247;
    text-align: center;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .hero-text-cont .hero-text p {
    color: #7e7e7e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .hero-license {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-license .license p {
    color: #7c7575;
    font-size: 7.861px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .hero-license .license img {
    width: 15.231px;
  }
  .hero-license .ndic {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-license .ndic p {
    color: #7c7575;
    font-size: 7.861px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .hero-license .ndic img {
    width: 44.33px;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .buttons .button {
    display: flex;
    padding: 8px 16px;
    gap: 8px;
  }
  .button div p {
    font-size: 8px;
  }
  .button div span {
    font-size: 12px;
  }
  .hero-img-cont {
    width: 100%;
  }
  .woman {
    width: 59%;
    right: -150px;
  }
  .hero-img-cont .coins {
    width: 38%;
    left: 70px;
    top: 70px;
  }
  .hero-img-cont .component-one,
  .hero-img-cont .component-two,
  .hero-img-cont .component-three {
    width: 200px;
  }
  .hero-img-cont .component-one {
    left: 25px;
    top: 120px;
  }
  .hero-img-cont .component-two {
    left: 10px;
    top: 180px;
  }
  .hero-img-cont .component-three {
    left: 25px;
    top: 230px;
  }
}
