.hero {
  width: 97%;
  padding-top: 8.75rem;
  margin: 0rem auto;
  display: flex;
  justify-content: flex-end;
  background-image: url("../../assets/map.png");
}

.hero-wrapper {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text-cont {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  flex-direction: column;
}

.hero-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.hero-text h1 {
  color: #029247;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.5rem;
  letter-spacing: 0.2025rem;
}

.hero-text p {
  color: #7e7e7e;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-license,
.license,
.ndic {
  display: flex;
  align-items: center;
}

.hero-license {
  gap: 4rem;
}

.license,
.ndic {
  gap: 0.75rem;
}

.license p,
.ndic p {
  color: #7c7575;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.buttons .button {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 6.25rem;
  background: var(--neutral-neutral-900, #0d0d0f);
}

.button p {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button span {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.hero-img-cont {
  position: relative;
}

.hero-img-cont .woman {
  z-index: 1;
  position: relative;
}

.hero-img-cont .coins {
  position: absolute;
  left: -11.25rem;
  top: 11.25rem;
}

.hero-img-cont .component-one {
  position: absolute;
  top: 16.875rem;
  left: -17.5rem;
  z-index: 2;
}

.hero-img-cont .component-two {
  position: absolute;
  top: 26.875rem;
  left: -20.625rem;
}

.hero-img-cont .component-three {
  position: absolute;
  top: 33.125rem;
  left: -16.875rem;
  z-index: 2;
}
