.hero {
  width: 97%;
  padding-top: 140px;
  margin: 0px auto;
  display: flex;
  justify-content: flex-end;
  background-image: url("../../assets/map.png");
}

.hero-wrapper {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text-cont {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  flex-direction: column;
}

.hero-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
}

.hero-text h1 {
  color: #029247;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 3.24px;
}

.hero-text p {
  color: #7e7e7e;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-license,
.license,
.ndic {
  display: flex;
  align-items: center;
}

.hero-license {
  gap: 64px;
}

.license,
.ndic {
  gap: 12px;
}

.license p,
.ndic p {
  color: #7c7575;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttons {
  display: flex;
  gap: 24px;
}

.buttons .button {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 100px;
  background: var(--neutral-neutral-900, #0d0d0f);
}

.button p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button span {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.hero-img-cont {
  position: relative;
}

.hero-img-cont .woman {
  z-index: 1;
  position: relative;
}

.hero-img-cont .coins {
  position: absolute;
  left: -180px;
  top: 180px;
}

.hero-img-cont .component-one {
  position: absolute;
  top: 270px;
  left: -280px;
  z-index: 2;
}

.hero-img-cont .component-two {
  position: absolute;
  top: 430px;
  left: -330px;
}

.hero-img-cont .component-three {
  position: absolute;
  top: 530px;
  left: -270px;
  z-index: 2;
}
