.contact-us {
  width: 100%;
}
.main-contact-text {
  width: 86.2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin: 6.25rem auto;
}
.main-contact-text h1 {
  width: 42.1%;
  color: #029247;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.5rem; /* 100% */
  letter-spacing: 0.2025rem;
}
.main-contact-text p {
  color: var(--neutral-neutral-400, #4c4d50);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 3.9375rem */
  letter-spacing: 0.1013rem;
  width: 90.2%;
}

/* Mobile Responsiveness */
@media screen and (max-width: 500px) {
  .contact-us {
    width: 100%;
  }
  .main-contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .main-contact-text h1 {
    color: #029247;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
    width: 100%;
  }
  .main-contact-text p {
    color: var(--neutral-neutral-400, #4c4d50);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    width: 85%;
  }
}
