.feature {
  width: 99%;
  margin: 0rem auto;
  padding-top: 9.7319rem;
  display: flex;
  justify-content: center;
  background: var(--success-success-50, #f2fcf5);
}
.feature-wrapper {
  width: 99%;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}
.feature-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.feature-text span {
  color: var(--white, #fff);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 6.25rem;
  background: var(--primary-primary-500-main, #029247);
  padding: 1rem 3rem;
}
.feature-text p {
  color: var(--neutral-neutral-500, #1f2024);
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.feature-links ul {
  display: flex;
  flex-direction: row;
  /* gap: 7.125rem; */
  justify-content: space-around;
  list-style: none;
  align-items: flex-start;
}
.feature-links ul li {
  color: var(--neutral-neutral-300, #696a6c);
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.feature-links ul li.loans {
  padding: 1rem 9.375rem;
}
.feature-links ul li.investment {
  padding: 1rem 5.1875rem;
}
.feature-links ul li.buy {
  padding: 1rem 1.5rem;
}
.feature-links ul li:hover {
  border-bottom: 0.5rem solid var(--primary-primary-500-main, #029247);
}

.components {
  display: flex;
  flex-shrink: 0;
  width: 86.11%;
  height: 44.5625rem;
  flex-shrink: 0;
  border-radius: 3rem;
  background: var(--white, #fff);
  margin: 0rem auto;
}
.comp-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 7.25rem;
  padding-top: 5.4313rem;
  flex-shrink: 0;
  justify-content: center;
}
.comp-cont .img {
  width: 34rem;
}
.comp-cont .texts {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.texts .text-cont1 {
  width: 42.75rem;
}
.comp-cont .texts .text-cont2 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.comp-cont .texts .list-text ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dot {
  width: 2rem;
  height: 2rem;
}
.list-text li {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
}
.text-cont2 {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 6.25rem;
  flex-direction: column;
}

.text-cont2 span {
  display: inline-flex;
  padding: 0.5rem 1rem;
  border-radius: 6.25rem;
  background: var(--success-success-50, #f2fcf5);
  color: var(--primary-primary-500-main, #029247);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text-cont1 p {
  color: var(--neutral-neutral-600, #1c1d21);

  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-cont2 p {
  color: var(--neutral-neutral-300, #696a6c);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* mobile responsiveness */
@media only screen and (max-width: 500px) {
  .feature {
    width: 100%;
    margin-top: 80px;
    padding-top: 0px;
  }

  .feature .feature-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .feature .feature-wrapper .feature-text {
    padding-top: 40px;
    width: 65%;
    /* align-items: center; */
  }
  .feature .feature-wrapper .feature-text span {
    font-size: 20px;
  }
  .feature .feature-wrapper .feature-text p {
    width: 100%;
    font-size: 24px;
  }
  .feature .feature-wrapper .feature-links {
    display: flex;
    width: 80%;
  }
  .feature .feature-wrapper .feature-links ul {
    width: 100%;
    align-items: center;
  }
  .feature .feature-wrapper .feature-links ul li {
    font-size: 16px;
    padding: 0px;
    text-align: center;
  }
  .feature-links ul li:hover {
    border-bottom: 3px solid var(--primary-primary-500-main, #029247);
  }
  .feature .feature-wrapper .components {
    width: 89%;
  }
  .feature .feature-wrapper .components .comp-cont {
    width: 100%;
    flex-direction: column-reverse;
    gap: 82px;
    align-items: center;
  }
  .feature .feature-wrapper .components .comp-cont .texts {
    width: 92%;
    gap: 16px;
  }
  .feature .feature-wrapper .components .comp-cont .texts .text-cont1 {
    width: 100%;
    text-align: center;
  }
  .feature .feature-wrapper .components .comp-cont .texts .text-cont1 p {
    width: 100%;
    font-size: 24px;
  }
  .feature .feature-wrapper .components .comp-cont .texts .text-cont2 {
    gap: 16px;
    align-items: center;
  }
  .feature .feature-wrapper .components .comp-cont .texts .text-cont2 span {
    font-size: 16px;
    text-align: center;
  }
  .feature
    .feature-wrapper
    .components
    .comp-cont
    .texts
    .text-cont2
    .list-text {
    width: 84%;
  }
  .feature
    .feature-wrapper
    .components
    .comp-cont
    .texts
    .text-cont2
    .list-text
    ul {
    gap: 16px;
    align-items: center;
  }
  .feature
    .feature-wrapper
    .components
    .comp-cont
    .texts
    .text-cont2
    .list-text
    ul
    li
    p {
    font-size: 16px;
  }
  .feature
    .feature-wrapper
    .components
    .comp-cont
    .texts
    .text-cont2
    .list-text
    ul
    li
    .dot {
    width: 12px;
    height: 12px;
  }
  .feature .feature-wrapper .components .comp-cont .img {
    width: 65.4%;
    align-items: center;
  }
  .feature .feature-wrapper .components .comp-cont .img img {
    width: 100%;
  }
}
