.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0rem 0.5rem 1.5rem -0.25rem rgba(24, 39, 75, 0.08),
    0rem 0.375rem 0.75rem -0.375rem rgba(24, 39, 75, 0.12);
}
.header-container {
  width: 86.2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
}

.links ul > div {
  position: relative;
}

.logo {
  width: 17.625rem;
  height: 5.5rem;
  flex-shrink: 0;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
}

.links ul li {
  list-style-type: none;
  /* color: #029247; */
}
.links ul li a:hover,
.links ul li p:hover {
  border-bottom: 0.125rem solid var(--primary-primary-500-main, #029247);
  color: #029247;
  transition: 0.5s;
}
.links ul li a,
.links ul li p {
  color: var(--neutral-neutral-400, #4c4d50);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
.links .getapp a {
  color: #fff;
  display: inline-flex;
  padding: 1rem 2.5rem;
  border-radius: 6.25rem;
  background: var(--primary-primary-500-main, #029247);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.header .logo img.menu {
  display: none;
}
/* dropdown menu */

@media screen and (max-width: 500px) {
  .header-active {
    background: var(--primary-primary-500-main, #029247);
    width: 100%;
    /* padding: 24px; */
    box-sizing: border-box;
    box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14),
      0px 8px 28px -6px rgba(24, 39, 75, 0.12);
    transition: 1s all ease;
  }
  .header .logo img.menu {
    display: block;
  }

  .header-container {
    padding: 0px;
    width: 100%;
    transition: 1s all ease;
  }

  .header-container .links {
    display: none;
  }

  .header-active .links {
    display: flex;
    flex-direction: column;
  }

  .header-active .links ul {
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
    align-items: unset;
  }

  .header-active .links ul li a,
  .header-active .links ul li p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
  }

  .logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 0px;
    padding: 24px;
    box-sizing: border-box;
  }

  .logo img:first-child {
    width: 23%;
  }

  .logo img:last-child {
    cursor: pointer;
  }
  .header-active .getapp {
    display: flex;
    width: 79%;
    padding: 16px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 6.25rem;
    margin-bottom: 24px;
  }
  .header-active .getapp a {
    color: var(--primary-primary-500-main, #029247);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background-color: #fff;
  }
}
