.partners {
  width: 100%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 9.75rem;
}
.partners-cont {
  width: 94.4%;
  display: flex;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
.part-text span {
  display: inline-flex;
  border-radius: 6.25rem;
  background: var(--success-success-50, #f2fcf5);
  padding: 1rem 3rem;
  color: var(--primary-primary-500-main, #029247);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.brand-logo {
  display: flex;
  flex-direction: row;
  gap: 71.03;
}
.brand-logo .img-1 {
  width: 22.1438rem;
  height: 7.3989rem;
}
.brand-logo .img-2 {
  width: 22.2494rem;
  height: 7.5046rem;
}
.brand-logo .img-3 {
  width: 22.1438rem;
  height: 7.3989rem;
}
.brand-logo .img-4 {
  width: 22.1438rem;
  height: 7.3989rem;
}

/* Mobile Responsiveness */
@media screen and (max-width: 500px) {
  .partners {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .partners-cont {
    width: 78%;
    gap: 32px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .partners-cont .part-text {
    align-items: center;
  }
  .partners-cont .part-text span {
    font-size: 20px;
  }
  .partners-cont .brand-logo {
    gap: 24px;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }
  .brand-logo .img-1,
  .brand-logo .img-2,
  .brand-logo .img-3,
  .brand-logo .img-5 {
    width: 50%;
    height: 58px;
  }
}
