.vision-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 156px;
}
.vision-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 48%;
}
.vision-text span {
  color: var(--primary-primary-500-main, #029247);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 6.25rem;
  background: var(--success-success-50, #f2fcf5);
  padding: 1rem 3rem;
  width: fit-content;
}
.vision-text .p-cont {
  width: 44.4375rem;
}
.vision-text .p-cont p {
  color: var(--neutral-neutral-400, #4c4d50);
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5rem;
}

.vision-img {
  width: 43%;
}

.vision-img img {
  width: 100%;
  /* fill: url('../../assets/'), lightgray 50% / cover no-repeat, #D9D9D9; */
}
